<div class="container-fluid root">
  <div class="background-container pt-5">
    <div class="box-container m-auto pt-5">
      <div class="top-content m-auto">
        <h1 class="top-content-title Inconsolata w-800 m-auto text-center">
          Your Journey to Coding Conf 2025 Starts Here!
        </h1>
        <h2 class="top-content-description w-400 my-3 text-center m-auto">
          Secure your spot at next year's biggest coding conference.
        </h2>
      </div>
      <div class="main-content mb-4">
        <form
          class="m-auto mt-5"
          [formGroup]="ticketForm"
          (ngSubmit)="generateTicket()"
        >
          <div class="form-group Inconsolata mb-3">
            <label for="avatar">Upload Avatar</label>
            <div class="input-wrapper avatar-wrapper m-auto">
              <div class="avatar m-auto">
                <img
                  class="avatar-img m-auto"
                  src="/assets/conference-ticket-generator/images/icon-upload.svg"
                  width="50"
                  height="50"
                  alt="avatar"
                />
              </div>
              <input
                type="file"
                id="avatar"
                class="form-control avatar-input m-auto"
                (change)="onFileSelected($event)"
                (drop)="onFileSelected($event)"
              />
              <p>Drag and drop or click to upload</p>
            </div>

            @if (!ticketForm.controls['avatar'].value && !isSubmmited) {
            <app-field-msg
              [msg]="'Upload your photo (JPG or PNG, max size: 500KB)'"
            />
            } @else if(ticketForm.controls['avatar'].errors) {
            @if(ticketForm.controls['avatar'].errors['fileTooLarge']) {
            <app-field-msg
              [msg]="'File too large. Please upload a photo under 500KB.'"
              [isError]="true"
            />
            }@else if(ticketForm.controls['avatar'].errors['invalidFileType']) {
            <app-field-msg
              [msg]="'Invalid file format. Please upload JPG or PNG.'"
              [isError]="true"
            />
            } @else {
            <app-field-msg
              [msg]="
                'Required: Upload your photo (JPG or PNG, max size: 500KB)'
              "
              [isError]="true"
            />
            } }
          </div>
          <div class="form-group Inconsolata mb-4">
            <label for="name">Full Name</label>
            <div class="input-wrapper mt-2">
              <input
                type="text"
                class="form-control mt-2"
                id="name"
                formControlName="fullName"
              />
            </div>
              @if (ticketForm.controls['fullName'].touched && ticketForm.controls['fullName'].errors) {
              @if(ticketForm.controls['fullName'].errors['required']) {
              <app-field-msg
                [msg]="'Please enter your full name.'"
                [isError]="true"
              />
              } @else {
              <app-field-msg
                [msg]="
                  'Full Name must be at least 3 characters long and contain only letters.'
                "
                [isError]="true"
              />
              } }
          </div>
          <div class="form-group Inconsolata mb-4">
            <label for="email">Email Address</label>
            <div class="input-wrapper mt-2">
              <input
                type="email"
                class="form-control mt-2"
                id="email"
                placeholder="example@email.com"
                formControlName="email"
              />
            </div>
              @if (ticketForm.controls['email'].touched && ticketForm.controls['email'].errors) {
                @if(ticketForm.controls['email'].errors['required']) {
                <app-field-msg
                  [msg]="'Email address is required.'"
                  [isError]="true"
                />
                } @else {
                <app-field-msg
                  [msg]="
                    'Please enter a valid email address.'
                  "
                  [isError]="true"
                />
                } }
            </div>
          <div class="form-group" class="Inconsolata mb-4">
            <label for="github">Github Username</label>
            <div class="input-wrapper mt-2">
              <input
                type="text"
                class="form-control mt-2"
                id="github"
                placeholder="@yourusername"
                formControlName="githubAccountId"
              />
            </div>
              @if (ticketForm.controls['githubAccountId'].touched && ticketForm.controls['githubAccountId'].errors) {
                @if(ticketForm.controls['githubAccountId'].errors['required']) {
                <app-field-msg
                  [msg]="'Github Account ID is required.'"
                  [isError]="true"
                />
                } @else {
                <app-field-msg
                  [msg]="
                    'Github Account ID must be at least 5 characters long.'
                  "
                  [isError]="true"
                />
                } }
            </div>
          <div class="text-center m-auto">
            <button class="btn btn-submit Inconsolata w-800" type="submit">
              Generate My Ticket
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="attribution">
      Challenge by
      <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>.
      &nbsp;Coded by
      <a href="https://github.com/shivamsharma01">Shivam Sharma</a>.
    </div>
  </div>
</div>
@if(previewUrl) {
<img [src]="previewUrl" alt="Selected Image" />
}
