@import "https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap";

.Inconsolata {
  font-family: "Inconsolata", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 97.5;
}

:host {
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: hsl(7, 71%, 60%);
  --text-gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.root {
  min-height: 100vh;
  color: var(--neutral-0);
  background: url(../../../../public/assets/conference-ticket-generator/images/background-mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-container {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  background: url(../../../../public/assets/conference-ticket-generator/images/logo-full.svg),
    url(../../../../public/assets/conference-ticket-generator/images/pattern-circle.svg),
    url(../../../../public/assets/conference-ticket-generator/images/pattern-circle.svg),
    url(../../../../public/assets/conference-ticket-generator/images/pattern-lines.svg),
    url(../../../../public/assets/conference-ticket-generator/images/pattern-squiggly-line-top.svg),
    url(../../../../public/assets/conference-ticket-generator/images/pattern-squiggly-line-bottom.svg);
  background-position: center 4%, 5% -15%, 67% 70%, 2%, 100% 10%, 0% 100%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-size: auto, auto, auto, auto, auto, auto;
  margin-top: 10px;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .root {
    background: url(../../../../public/assets/conference-ticket-generator/images/background-tablet.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1025px) {
  .root {
    background: url(../../../../public/assets/conference-ticket-generator/images/background-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.box-container {
  max-width: 28rem;
}

.top-content-title {
  word-wrap: break-word;
  font-size: 32px;
  line-height: 1.25;
}

.top-content-description {
  color: var(--neutral-300);
  font-size: 20px;
  width: 90%;
  word-spacing: 4px;
}

.input-wrapper {
  position: relative;
  display: block;
}

.input-wrapper input {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--neutral-500);
  color: var(--neutral-300);
  font-family: "Inconsolata";
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  background-color: hsl(245 19% 35% / 0.3);
  cursor: pointer;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid var(--neutral-500);
  border-radius: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input-wrapper:hover::after,
.input-wrapper:focus::after,
.input-wrapper:focus-within::after {
  opacity: 1;
}

.avatar-wrapper:hover p {
  color: var(--neutral-300);
}

label {
  color: var(--neutral-300);
  font-size: 20px;
  font-weight: 400;
  display: block;
}

.avatar-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 450px;
  max-width: 550px;
  height: 150px;
  color: var(--neutral-500);
  border: 2px dashed var(--neutral-500);
  background-color: var(--neutral-900);
  border-radius: 10px;
  text-align: center;
  margin: 10px auto;
  transition: border 1s ease;
}

.avatar {
  width: 60px;
  height: 60px;
  background-color: hsl(245 19% 35% / 0.5);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  padding: 35px;
}

.avatar-img {
  margin: 20px 0;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.avatar-input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.btn-submit {
  width: 100%;
  border-radius: 12px;
  padding: 15px;
  background-color: var(--orange-500);
  color: hsl(248 70% 10% / 1);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--orange-700);
}
