<div class="container-fluid root">
  <div class="background-container">
    <div class="box-container m-auto">
      <div class="top-content m-auto">
        <h1 class="top-content-title Inconsolata w-900 m-auto text-center">
          Your Journey to Coding Conf 2025 Starts Here!
        </h1>
        <h2 class="top-content-description w-600 my-3 text-center">
          Secure your spot at next year's biggest coding conference.
        </h2>
      </div>
      <div class="main-content">
        <form>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Enter your name"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter your email"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
