<div class="grid-container m-auto">
    <div class="social-media">
        <h1>Social Media <span class="speed">10x</span>&nbsp;
            <span class="faster">Faster</span> with AI
        </h1>
        <div>
            <img src="assets/bento-grid/images/illustration-five-stars.webp" alt="five stars" />
            <p>Over 4,000 5-star reviews</p>
        </div>
    </div>
    <div class="manage-accounts">
        <img src="assets/bento-grid/images/illustration-multiple-platforms.webp" alt="multiple accounts" />
        <p>Manage multiple accounts and platforms.</p>
    </div>
    <div class="posting-schedule">
        <p>Maintain a consistent posting schedule.</p>
        <img src="assets/bento-grid/images/illustration-consistent-schedule.webp" alt="consistent schedule" />
    </div>
    <div class="media-schedule">
        <p class="top">Schedule to social media.</p>
        <div>
            <img src="assets/bento-grid/images/illustration-schedule-posts.webp" alt="schedule posts" />
            <p class="bottom">Optimize post timings to publish content at the perfect time for your audience.</p>
        </div>
    </div>
    <div class="grow-followers">
        <img src="assets/bento-grid/images/illustration-grow-followers.webp" alt="grow followers" />
        <p>Grow followers with non-stop content.</p>
    </div>
    <div class="faster-growth">
        <h2 class="percent">>56%</h2>
        <p>faster audience growth</p>
        <img src="assets/bento-grid/images/illustration-audience-growth.webp" alt="audience growth" />
    </div>
    <div class="content-schedule">
        <p>Create and schedule content&nbsp;<span class="quicker">quicker.</span></p>
        <img src="assets/bento-grid/images/illustration-create-post.webp" alt="create posts" />
    </div>
    <div class="ai-content">
        <p>Write your content using AI.</p>
        <img src="assets/bento-grid/images/illustration-ai-content.webp" alt="ai chatbox chat" />
    </div>
</div>
<div class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge">Frontend Mentor</a>.
    &nbsp;Coded by
    <a href="https://github.com/shivamsharma01">Shivam Sharma</a>.
  </div>