.box-container {
  width: 90%;
  max-width: 800px;
}

.top-content {
  padding-top: 50px;
}

.top-content-title {
  word-wrap: break-word;
  font-size: 1.5em;
  line-height: 1.25;
}

.top-content-description {
  color: var(--neutral-300);
  font-size: 20px;
  width: 90%;
  word-spacing: 4px;
}

.main-content {
  width: 90%;
}

.btn-submit {
  width: 100%;
  border-radius: 12px;
  padding: 15px;
  background-color: var(--orange-500);
  color: hsl(248 70% 10% / 1);
}

.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--orange-700);
}

@media (min-width: 481px) {
  .top-content-title {
    font-size: 3em;
  }
}
