.main-text {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.main-text span {
  font-family: "Inconsolata";
  font-weight: 700;
  background: -webkit-linear-gradient(left, var(--orange-500), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc-text {
  font-size: 1.25em;
  color: var(--neutral-300);
  font-family: "Inconsolata";
  font-weight: 500;
}

.desc-text span {
  color: var(--orange-500);
  font-family: "Inconsolata";
}

.display-data {
  width: 90%;
  max-width: 800px;
  padding: 0.5rem;
  margin: auto;
  position: relative;
  z-index: 20;
  text-align: center;
  font-family: "Inconsolata";
}

.ticket-pic-container {
  background-color: var(--Neutral-900);
  background: url(./../../../../public/assets/conference-ticket-generator/images/pattern-ticket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9;
  max-width: 500px;
  margin-top: calc(min(100px, 50vh));
  position: relative;
  border-radius: 0.5rem;
}

.avatar-img {
  position: absolute;
  width: 15%;
  left: 5%;
  bottom: 28%;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
}

.event-date {
  position: absolute;
  left: 18%;
  font-size: 0.8em;
  top: 30%;
  color: var(--neutral-500);
  font-weight: 600;
}

.logo-full {
  position: absolute;
  height: 15%;
  top: 10%;
  left: 5%;
}

.fullname {
  font-size: 1em;
  top: 45%;
  font-weight: 500;
  position: absolute;
  left: 23.5%;
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "Inconsolata";
}

.github-icon {
  position: absolute;
  width: 5%;
  left: 23%;
  bottom: 29%;
}

.github-id {
  position: absolute;
  left: 30%;
  bottom: 28%;
  margin-bottom: 0;
}

.generated-id {
  position: absolute;
  right: 1%;
  top: 35%;
  transform: rotate(90deg);
  color: var(--neutral-500);
  font-size: 1.5em;
  font-weight: 600;
}

@media (min-width: 481px) {
  .main-text {
    font-size: 3.5em;
  }

  .fullname {
    font-size: 1.4em;
    bottom: 45%;
  }
  .event-date {
    top: 27%;
    font-size: 1em;
  }
}
