<div class="display-data m-auto pt-5">
  <h1 class="main-text text-center my-3">
    Congrats, <span>{{ name }}</span
    >! Your ticket is ready.
  </h1>
  <p class="desc-text text-center my-5">
    We've emailed your ticket to <br /><span>{{ email }}</span> and will send
    updates in the run up to the event.
  </p>
  <div class="ticket-pic-container mx-auto">
    <img
      class="logo-full"
      src="assets/conference-ticket-generator/images/logo-full.svg"
    />
    <p class="event-date">Jan 31, 2025 / Austin, TX</p>
    <img class="avatar-img" [src]="image" />
    <p class="fullname">{{ name }}</p>
    <img
      class="github-icon"
      src="assets/conference-ticket-generator/images/icon-github.svg"
    />
    <p class="github-id">&#64;{{ githubId }}</p>
    <p class="generated-id">#01609</p>
  </div>
</div>