h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h1 span {
  font-family: "Inconsolata";
  font-weight: 700;
  background: -webkit-linear-gradient(left, var(--orange-500), #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  font-size: 1.25em;
  color: var(--neutral-300);
  font-family: "Inconsolata";
  font-weight: 500;
}

p span {
  color: var(--orange-500);
}

.display-data {
  width: 90%;
  max-width: 800px;
  padding: 0.5rem;
  margin: auto;
  position: relative;
  z-index: 20;
  text-align: center;
  font-family: "Inconsolata";
}

.ticket-pic-container {
  background-color: var(--Neutral-900);
  background: url(../../../../public/assets/conference-ticket-generator/images/pattern-ticket.svg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 16 / 9;
  max-width: 500px;
  padding: 1rem;
  margin: auto;
  position: relative;
  border-radius: 0.5rem;
}

.avatar-img {
  position: absolute;
  width: 15%;
  left: 5%;
  bottom: 28%;
  border-radius: 10px;
}

.event-date {
  position: absolute;
  left: 18%;
  top: 27%;
  color: var(--neutral-500);
  font-weight: 600;
}

.logo-full {
  position: absolute;
  height: 15%;
  top: 10%;
  left: 5%;
}

.fullname {
  font-size: 1.4em;
  font-weight: 400;
  position: absolute;
  left: 23.5%;
  bottom: 32%;
}

.github-icon {
  position: absolute;
  width: 5%;
  left: 23%;
  bottom: 29%;
}

.github-id {
  position: absolute;
  left: 30%;
  bottom: 22.5%;
}

.generated-id {
  position: absolute;
  right: 1%;
  top: 35%;
  transform: rotate(90deg);
  color: var(--neutral-500);
  font-size: 1.5em;
  font-weight: 600;
}
