* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.w-400 {
  font-weight: 400;
}

.w-500 {
  font-weight: 500;
}

.w-600 {
  font-weight: 600;
}

.w-700 {
  font-weight: 700;
}

.w-800 {
  font-weight: 800;
}

.w-900 {
  font-weight: 900;
}
